body{
	font-family: Helvetica;
	color: black;
	padding: 15px;
}
fieldset{
	color: black;
	font-family: Arial, Helvetica, sans-serif, 12px;
	font-weight: bold;
	border-radius: 2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border: 2px solid black; 
	overflow: visible;
	margin-left: 10px;
	margin-bottom: 25px;
	background: #9AC0CD;
    background: -webkit-gradient(linear, left top, left bottom, from(#00688B), to(#9AC0CD) );
    background: -moz-linear-gradient(-90deg, #00688B, #9AC0CD);
    background: -ms-linear-gradient(linear, rgba(97,172,228,0) 30%,rgba(97,172,228,0.1) 60%,rgba(97,172,228,0.3) 100%);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00688B', endColorstr='#9AC0CD');
    behavior:url(js/border.htc);
    position: relative;
    padding: 1px;
}
	input, select{
	background-color: #FFF68F;
	margin-top: 4px;
	margin-left: 2px;
	margin-right: 2px;
	font-weight: bold;
	border-radius: 4px;
	padding: 1px;
}
legend{
	text-align: left;
	color: #FFF;
	border-top-style: black;
	background-color: #CCC;
	height: 20px;
	border-radius: 2px;
	border: 2px solid #035;
	text-shadow: black 0.1em 0.1em 0.2em;
	position:absolute;
	top: -0.8em;
}
#comparecientes{
	background-color: #FFF68F;
	overflow: auto;
	max-height: 150px;
	margin-top: 5px;

}
#acto, #tipocom{
	width: 200px;
	height: 25px;
}
#contacto{
	width: 20%;
	height: 180px;
	float: left;
	display: inline-block;
}
#comentario{
	margin-top: 3%;
	width: 60%;
	margin-left: 5%;
	height: 80%;
	float: left;
}
#comentarios{
	width: 40%;
	height: 180px;
	float: left;
}
#gridcomp{
	width: 96%;
	margin-right: .5%;
	margin-left: .5%;
	background-color: #035;
	border: 1px solid black;
	border-radius: 3px;
	padding: 10px;

}
#gridheader{
	width: 100%;
	background-color: #9AC0CD;
}
#gridrow{
	width: 100%;
	background-color: white;
}
#gridcuerpo{
	width: 100%;
}
#inst{
	width: 99%;
	margin: 0, auto;
}
#instrumento{	
	max-width: 200px;
	min-width: 120px;
}
#volumen{
	width: 39%;
	max-width: 200px;
	min-width: 120px;
}
#responsable{
	width: 30%;
	height: 180px;
	float: left;
}
#segunda{
	width: 90%;
}
.button{
	border-radius:2px;
	background-color: #A9A9A9;
	display: inline-block;
	padding: 5px 10px 6px;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-box-shadow: 0 0 3px #999;
	-khtml-box-shadow: 0 0 3px #999;
	-webkit-box-shadow: 0 0 3px #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow: 0 -1px 1px rgba(0,0,0,.25);
	border:1px solid transparent;
	position: relative;
	cursor: pointer;
}
#btnGuardar, #btnCancelar{
	border: black solid 1px;
	margin-top: 30px;
	width: 25%;
	height: 20%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	float: left;
}
#btnGuardar:hover, #btnCancelar:hover{
	background-color: white;
}
table{
	width: 100%;
}
th,td{
	margin-right: 10px;
	text-align: center;
	margin-left: 10px;
	border: 1px solid grey;
}
col{
	margin-left: 10px;
	margin-right: 10px;
	width: 200px;
	border: 1px solid grey;

}
#name{
	width: 600px;
}
#Cnombre, #Ctel, #Cmail{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}
#txtComp{
	width: 30%;
}
#upload_button{
    width:120px;
    height:20px;
    text-align:center;
    background-color: #035;
    vertical-align: center;
    margin-top: 20%;
    color:#CCCCCC;
    font-weight:bold;
    padding-top:15px;
    border-radius: 5px;
}